 *
 {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
 }

 html,body{
overflow-x:hidden;
max-width:100%;
}


 #navbar
 {
 width: 100%;
 height: 90px;
 background-color: blueviolet;
 border: 1px solid transparent;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 padding:0 20px;
 }




 #navbar img
 {
    border: 1px solid transparent;    
 }
 


 #navbar nav ul
 {
 display: flex;
 gap: 30px;
 list-style: none; 
 }



 #navbar nav ul li a
 {
 text-decoration: none;
 text-transform:capitalize;
 font-size: 15px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-style: normal;
 color: white;
 transition: all 2s ease;
 }



 #navbar nav ul li a:hover
 {
 color: red;
  /* text-shadow: 10px 10px 10px 10px black; */
  /* box-shadow: 10px 10px 10px 10px black; ; */
  /* transform: rotate(360deg);
  transform: scale(1.2);
  transform: translate(100px , 100px); */
  border-radius: 50px;
 }


 #icons i
 {
 margin-right: 15px;
 color: black;
 transition: all 2s ease;
 }

 #icons i:hover 
 {
 color: white;
  /* font-size: 20px; */
  border-radius: 50px;
  /* transform: rotate(360deg);
  transform: scale(1.2);
  transform: translate(100px , 100px); */
 }






 /* main code starts frome here  */


 #firstpage
 {
 width: 100%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 25px;
 color: transparent;
 display: flex;
 justify-content: center;
 align-items: center; 
 background-image: url(../image/text.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-clip: text;
 min-height:100vh;
 height:auto;
 }

 #firstpage h1
 {
    text-align: center;
     font-weight:bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 } 


 /* #firstpage h1 div button{
background-color: blueviolet;
border-radius:20px;
padding:10px 20px;

border:none;          REMOVE BORDER
outline:none;         REMOVE OUTLINE
box-shadow:none;      REMOVE BOX EFFECT
cursor:pointer;
 }  */

#firstpage h1 div button{
background-color:blueviolet;
border-radius:20px;
padding:10px 20px;
/* border:none; */
outline:none;
box-shadow:none;
cursor:pointer;
transition:0.3;
}

#firstpage h1 div button:hover{
background:linear-gradient(to right,#b45fff,#6017f3,#b45fff);
}

button:focus{
outline:none;
}

button{
-webkit-tap-highlight-color:transparent;
}

 #firstpage h1 h6  
 {
 /* margin-top: 100px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: lighter;
 }

 /* end first page  */

 /* #secondpage{ */

 /* width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 gap: 30px;
 background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg);
 flex-wrap: wrap;
 align-items: center;
  */
 /* display: flex;
 grid-template-columns: auto auto auto;
 justify-content: center;
 align-items: center;
 gap: 10px; */
    
     

  /* display: grid;
  gap: 10px;
  grid-template-columns: repeat(6,400px);
  overflow: scroll;
  scrollbar-width: none; */
  /* } */


/* secondpage start here  */

 #secondpage {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-wrap:wrap;
 justify-content: center;
 align-items: center;
 gap: 30px;
 padding:20px 10px;
 background-color: rgb(138, 43, 226);
 /* background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg); */    
 }

 #secondpage h2
 {
    font-size: 20px;
    color: #aa2bff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 } 
 
 /* #secondpage p
 {
    font-family: cursive;
    color: black;
 } */

 
 #card1 {
 width: 260px;
 background: white;
 border: 2px solid black;
 border-radius: 15px;
 overflow: hidden;
 box-shadow: 0 10px 20px rgba(0,0,0,0.2);
 text-align: center;
 transition: all 2s ease;
 }

 #card1 img {
 width: 100%;
 height: 250px;
 object-fit: cover;
 }

 #card1:hover
 {
 box-shadow: 10px 10px 10px 0px black;
 /* transform: translate(100px , 0px); */
 /* transform: scale(1.2); */
 /* transform: rotate(360deg); */
 }

 #card2 {
 width: 260px;
 background: white;
 border: 2px solid black;
 border-radius: 15px;
 overflow: hidden;
 box-shadow: 0 10px 20px rgba(0,0,0,0.2);
 text-align: center;
 transition: all 2s ease;
 }

 #card2:hover
 {
 box-shadow: 10px 10px 10px 0px black;
 /* transform: translate(100px , 0px); */
 /* transform: scale(1.2); */
 /* transform: rotate(360deg); */
 }

 #card2 img {
 width: 100%;
 height: 250px;
 object-fit: cover;
 }

 #card3 {
 width: 260px;
 background: white;
 border: 2px solid black;
 border-radius: 15px;
 overflow: hidden;
 box-shadow: 0 10px 20px rgba(0,0,0,0.2);
 text-align: center;
 transition: all 2s ease;
 }

 #card3:hover
 {
 box-shadow: 10px 10px 10px 0px black;
 /* transform: translate(100px , 0px); */
 /* transform: scale(1.2); */
 /* transform: rotate(360deg); */
 }

 #card3 img {
 width: 100%;
 height: 250px;
 object-fit: cover;
 }

 #card4 {
 width: 260px;
 background: white;
 border: 2px solid black;
 border-radius: 15px;
 overflow: hidden;
 box-shadow: 0 10px 20px rgba(0,0,0,0.2);
 text-align: center;
 transition: all 2s ease;
 }

 #card4:hover
 {
 box-shadow: 10px 10px 10px 0px black;
 /* transform: translate(-100px , 0px); */
 /* transform: scale(1.2); */
 /* transform: rotate(360deg); */
 }

 #card4 img
 {
 width: 100%;
 height: 250px;
 object-fit: cover;
 }

 #content 
 {
 padding: 20px;
 }

.classmode 
{
 font-size: 15px;
 font-family: cursive;
}

.footer 
 {
 display: flex;
 justify-content: space-around;
 color: black;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding: 15px 0;
 }

 .footer div p 
 {
 margin: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 }

 .pink 
 {
 background: linear-gradient(to right, #b45fff,#6017f3, #4168db );
 }

 .orange 
 {
 background: linear-gradient(to right, #b45fff,#6017f3, #4168db );
 }

 .green 
 {
 background: linear-gradient(to right, #b45fff,#6017f3, #4168db );
 }

 .red 
 {
 background: linear-gradient(to right, #b45fff,#6017f3, #4168db );
 }
 /* secondpage end here  */

 /* third page starts here  */
 #thirdpage
 { 
 display: flex;
 justify-content: center;
 flex-direction:column;
 align-items: center;
 width: 100%;
 border: 2px solid black;
 height: 100vh; 
 text-align: center;
 color: black;
 background-image: url(../image/background.png);
 background-size: cover; 
 min-height:100vh;
 height:auto;
 }

 #thirdpage h1 
 {
 width: 100%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 55px;
 color: transparent;
 display: flex;
 justify-content: center;
 align-items: center; 
 background-image: url(../image/adobe2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-clip: text;
 font-weight: bolder;
 } 

  #thirdpage p
 {
 width: 100%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: transparent;
 display: flex;
 justify-content: center;
 align-items: center; 
background-image: url(../image/adobe2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-clip: text;   
 } 
 /* thid page ends here  */
  



#bar{
position:absolute;
top:25px;
right:20px;
font-size:30px;
z-index:10;
display:none;
}

#check{
   display: none;
}



@media(max-width:430px)
{
   
#bar{
display:block;
position:absolute;
top:25px;
right:20px;
}



#firstpage{
/* height:100vh; */
min-height:100vh;

}

#secondpage{
height:auto;
min-height:100vh;
}

#thirdpage{
height:auto;
min-height:100vh;
}

#secondpage{
padding:20px;
flex-direction:column;
}

#card1{
width:90%;
margin:auto;
}

#card2{
width:90%;
margin:auto;
}

#card3{
width:90%;
margin:auto;
}

#card4{
width:90%;
margin:auto;
}
   
#card1:hover{
transform:none;
}

#card2:hover{
transform:none;
}

#card3:hover{
transform:none;
}

#card4:hover{
transform:none;
}
   #navbar nav ul{
      display: none;
   }

   #navbar div{
      display: none;
   }

   #navbar button{
      display: none;
   }

   #thirdpage{
background-size:cover;
}

#firstpage h1{
padding:0 10px;
word-wrap:break-word;
}

#secondpage h1{
padding:0 10px;
word-wrap:break-word;
}

#thirdpage p{
padding:0 10px;
word-wrap:break-word;
}


   #check:checked~#navbar nav ul {

      display: block;
      position: absolute;
      background-color: blueviolet;
      top: 100px;
      left: 0px;
      width: 100%;
      text-align: center;
      line-height: 35px;
      z-index: 100;
   }

   #check:checked~main #firstpage img{
      margin-top: 100px;
   }



}
