 body{
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg);
          background-size: 100%;
 }
        

        .about-section{
            /* padding: 80px 20px; */
            text-align: center;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* background: linear-gradient(120deg, #4a90e2, #dc8fbe); */
            color: white;
        }

        .about-section h1{
            font-size: 40px;
            margin-bottom: 20px;
        }

        .about-section p{
            max-width: 700px;
            margin: auto;
            font-size: 18px;
            line-height: 1.6;
        }

        .features{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 60px 20px;
        }

        .card{
           /* background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg); */
           background-color: white;
            width: 250px;
            padding: 25px;
             border: solid black;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        }

        .card h3{
            margin-bottom: 10px;
           
            /* background-color: aqua; */
            
        }

        .card p{
            /* background-color: #c676a4; */
            font-size: 15px;
        }

        .cta{
            text-align: center;
            padding: 40px;
        }

        .cta button{
             border: solid black;
            background: #dc8fbe;
            /* border: none; */
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 30px;
            color: white;
            cursor: pointer;
        }

        .cta button:hover{
            background: #c676a4;
        }