 *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#navbar
{

    width: 100%;
    height: 90px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
   position: absolute;


}

#navbar nav ul
{
    display: flex;
    gap: 30px;
    list-style: none;
   

}

#navbar nav ul li a
{
    text-decoration: none;
    text-transform:capitalize;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: black;

}

#navbar nav ul li a:hover
{
    color: white;
    font-size: 20px;

}


#navbar button 
{
    background-color: #dc8fbe;
    border-radius: 20px;
    border-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;


}


/* main code starts frome here  */


 #firstpage{
    width: 100%;
    height: 100vh;
    background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg);
    background-size:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#firstpage h1{
    color: white;
} 

#firstpage button 
{
   
    background-color:   #dc8fbe;
    border-radius: 20px;
    border-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;


}


