 *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#navbar
{

    width: 100%;
    height: 90px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
   position: absolute;


}

#navbar nav ul
{
    display: flex;
    gap: 30px;
    list-style: none;
   

}

#navbar nav ul li a
{
    text-decoration: none;
    text-transform:capitalize;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: black;

}

#navbar nav ul li a:hover{

    color: #ff2aa3;
    font-size: 20px;
}




#navbar button 
{
    background-color: #dc8fbe;
    border-radius: 20px;
    border-color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;


}


#icons i {
    margin-right: 55px;
    color: black;
}

#icons i:hover {
    
    color: white;
     /* font-size: 20px; */
}






/* main code starts frome here  */


 #firstpage{
    width: 100%;
    height: 100vh;
    background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg);
    background-size:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 #firstpage h1{
    text-align: center;
     font-weight:bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


#firstpage h1 div button{
    background-color: #dc8fbe;
    border-radius: 20px;
    border-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    
}

#firstpage h1 div button:hover{
            background: #c676a4;
        }

#firstpage h1 h6  {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

 #secondpage{
    width: 100%;
    height: 100vh;
    background-image: url(../image/pexels-veeterzy-114979\ \(1\).jpg);
    background-size:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 #secondpage h1{
    text-align: center;
     font-weight:bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


#secondpage h1 div button{
    background-color: #dc8fbe;
    border-radius: 20px;
    border-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    margin-top: 20px;
    
}

#secondpage h1 div button:hover{
            background: #c676a4;
        }

#secondpage h1 h6  {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}